:root {
  --blue-ele: #689bff;
  --pink-ele: #fd9a98;
  --yellow-ele: #fecb00;
  --green-ele: #1fca21;
  --red-g_p: #fc2c2c;
  --ele-border: #7e8187;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  margin-top: 100px;
}

#wrapper {
  display: flex;
  flex-direction: column;
  width: 88%;
  background-color: #121212;
  border: 2px solid #eee;
  padding: 40px;
  margin: auto;
}

a {
  color: #1913a2;
  text-decoration: none;
}

p {
  color: #1913a2;
  font-size: 9px;
}

h1 {
  font-size: 16px;
  padding: 5px 0 4px 0;
}

.row-start {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.row-end {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-green {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 90%;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50px;
  height: 50px;
  margin: 2px;
  box-shadow: 1px 1px #555;
}

.g-p {
  color: var(--red-g_p);
  font-size: 11px;
  padding: 0 1px;
  box-shadow: none;
}

.blue {
  background-color: var(--blue-ele);
  border: 1px solid var(--ele-border);
}
.yellow {
  background-color: var(--yellow-ele);
  border: 1px solid var(--ele-border);
}
.pink {
  background-color: var(--pink-ele);
  border: 1px solid var(--ele-border);
}
.green {
  background-color: var(--green-ele);
  border: 1px solid var(--ele-border);
}

.extra {
  margin-top: 25px;
}

.green-desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 175px;
  padding-left: 50px;
}
